.big-button{
  background: $purple;
  padding: 2.4rem 0;
  border: none;
  width: 100%;
  border-bottom: .6rem solid darken($purple, 10%);
  margin:0 0 $m-size 0;
  font-size: $l-size;
  font-weight: bold;
  color: white;
}

.big-button:disabled{
  opacity:0.5;
}

.button {
  background-color: $purple;
  border:none;
  color:white;
  font-weight: 500;
  padding: $s-size;
  border-bottom: .3rem solid darken($purple,10%)
}

.button--link{
  background: none;
  border:none;
  color:$off-white;
  padding:0;
}

@media (min-width:$desktop-breakpoint){
  .big-button{
    margin:0 0 $xl-size 0;
  }
}